@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    /*чтобы 1 rem = 10px, умножаем 16зч по умолчанию на 62,5%*/
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #17161B;
    color: #FFFFFF;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;

}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

.grid {
    display: grid;
    gap: 8rem 0;
    grid-template-areas:
    "my-header my-header my-header"
    "my-aside my-main my-main"
    "my-aside my-main my-main";
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.header {
    grid-area: my-header;
}
.main {
    grid-area: my-main;
}
.aside {
    grid-area: my-aside;
}

.grid-init {
    max-width: 144rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 2.4rem 4rem 2.4rem;
}
.header_wrap {
    display: flex;
    align-items: center;

}
.header_logo {
    font-size: 6.4rem;
    margin-right: 7rem;
    font-weight: 700;
    line-height: 117%;
}
.header_nav {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 117%;
    display: flex;
    gap: 2.4rem;
    justify-content: space-between;
    margin-right: 9.2rem;
}
/*.header_nav a:not(:last-child) {
    margin-right: 2.5rem;
}*/
.header_find{
    width: 33rem;
    height: 4.1rem;
    margin-right: 3.9rem;
}

.header_find input{
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    background: rgba(255, 255, 255, 0.08) url('/img/LoupeIcon.svg');
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: top 50% right 1.5rem;
    padding-left: 1rem;
    padding-right: 5rem;
    font-size: 2rem;
    line-height: 115%;
    color: #FFFFFF;
}
.header_find input::placeholder {
    font-size: 2rem;
    color: #FFFFFF;
}

.header_date {
    text-align: center;
    margin-right: 8.6rem;
}
.header_hour {
    font-size: 2rem;
    line-height: 115%;
}
.header_day {
    font-size: 1.2rem;
    line-height: 117%;
}

.header_personal {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.main-display_trailer {
   /* background: rgba(0,0,0, 0.4) url('../img/SpiderMan.jpg');*/
    position: relative;
    width: 98.5%;
    height: 20.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.6rem;
    background: url('../img/SpiderMan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1.9rem 0 1.9rem 1.9rem;
}

.main-display_views {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 119%;
}

.main-display_header {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 117%;
}

.main-display_date {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;
}

.button-play_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.07);
    width: 8.1rem;
    height: 8.1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*filter: blur(1.6rem);*/
}

.button-play {
    background: transparent;
}

.title {
    padding: 3.5rem 1rem 3.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_left,
.title_right {
    display: flex;
    align-items: center;
}

.title_main {
    font-size: 2rem;
    line-height: 115%;
}

.title_right {
  gap: 0.4rem
}
.title_left {
    font-size: 2rem;
    line-height: 115%;
    gap: 2rem;
}

.title_count,
.title_right {
   padding-top: 0.25rem;
}

.title_count,
.title_right span {
    color: rgba(255, 255, 255, 0.2);
}

.title_right span{
    font-size: 1.4rem;
    line-height: 114%;
}

.title_right img {
    width: 2rem;
    height: 1.6rem;
}

.trending,
.popular {
    display: flex;
    justify-content: space-between;
    padding-right: 1.6rem;
}

.trending__item {
    position: relative;
    width: 47%;
    height: 25.1rem;
    border-radius: 1.6rem;
    background-image: url('../img/MoviesTitle.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.popular__item {
    width: 30%;
    height: 19.2rem;
    position: relative;
    border-radius: 1.6rem;
    background-image: url('../img/Netflix.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;

}

.trending__plash img {
    width: 1.6rem;
    height: 1.4rem;
}

.trending__header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 160%;
}

.popular__header {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 160%;
}

.trending__date {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.popular__date {
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 112%;
}


.trending__footer,
.popular__footer {
    position: relative;
    width: 100%;
    align-items: center;
    padding: 1.8rem 1rem 1.8rem 6.4rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1.6rem;
    background: rgba(255, 255, 255, 0.2);
}

.trending__time,
.popular__time {
    background: #FFFFFF;
    border-radius: 1.6rem;
    padding: 0.4rem 1.3rem;
    color: #000000;
    font-size: 1.4rem;
    line-height: 114%;
}

.trending__plash {
    font-size: 1.4rem;
    line-height: 114%;
    position: absolute;
    z-index: 10;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    padding: 0.6rem 1.2rem;
    border-radius: 16px;
}

.small {
    width: 3rem;
    height: 3rem;
    left: 3.2rem;
}

.small img {
    width: 1rem;
    height: 1rem;
}

.popular__footer-right {
    width: 4rem;
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-size: 1rem;
}

.popular__footer-right img {
    width: 1.8rem;
    height: 1.2rem;
}
